<!-- Página ininical de navegação do sistema-->
<!DOCTYPE HTML>
<html>	

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../style.css">
		<link rel="stylesheet" type="text/css" href="../../css/tabela.css">
        <link rel="stylesheet" type="text/css" href="lista.css">
		
		<!-- Titulo da aplicação -->
		<title>Energy</title>
	</head>

	<body>
		
		<!-- Cabeçalho de informações do sistema -->
		<header class="main_header container">   				
			<div class="content">
				<h2>Lista de Construções</h2>
			</div>
		</header>

		<!-- Menu de navegação do sistema -->
		<nav  class="main_nav container">   	
			<ul style="margin-left: 0.5%;" class="menu">
				<li><a href="../home/home.html"><b>Inicio</b></a></li>								
			</ul>	
		</nav>

		<!-- Corpo principal da tela -->
        <main class="main_content container">

			<!-- Seção de visualização de tabela -->
			<section class="section-table container">    
				<div class="content">	

					<!-- Tabela de regisros para visualização -->
					<div class="table-container">
						<table id="tabela">
							<tr>
								<th style="width: auto;">Nome</th>
								<th style="width: auto">Compacidade</th>
								<th style="width: auto">Superfície</th>
								<th style="width: auto">Parede</th>
								<th style="width: auto">Telhado</th>
								<th style="width: auto">Altura</th>
								<th style="width: auto">Orientação</th>
								<th style="width: auto">Envidraçamento</th>
								<th style="width: auto">Distribuição</th>
								<th style="width: auto">Carga de Aquecimento</th>
								<th style="width: auto">Carga de Resfriamento</th>
								<th style="width: auto">Eficiência de Aquecimento</th>
								<th style="width: auto">Eficiência de Resfriamento</th>
							</tr>
						</table>   
					</div>

				</div>    
			</section>

        </main>

		<!-- Rodapé -->
        <footer class="main_footer container">
            <div class="main_footer_copy">
        
                <p class="m-b-footer"> Rafael - 2024, todos os direitos reservados.</p> 
                <p class="by"><i class="icon icon-heart-3"></i> Desenvolvido por: Rafael Fernandes</p>
            
            </div>
        </footer>

		<script src="lista.js"></script>
    
    </body>
    
</html>