/*---------------------------------------------------
                    configurações
---------------------------------------------------*/
*{  
    /*Resetando as configurações*/
      margin: 0; 
      padding: 0; 
      font-family: 'open_sanslight';
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
  }
      /*Reset basico das midias*/
      object,
      embed,
      video,
      iframe,
      iframe{ max-width:100%; height:auto; }
      img { max-width:100%; vertical-align:middle; }
      ul  { list-style:none; }
      
      /*Reset os Formulários em Todos Dispositivos*/
      fieldset{border: 0;}
      input,
      select,
      textarea{padding: 0px; width: 100%;}
      input.btn{width: auto; cursor: pointer;}

/*---------------------------------------------------
                    Layout                   
            |body                |
            | |----------------| |
            | |header          | |
            | |----------------| |
            | |----------------| |
            | |nav             | |
            | |----------------| |
            | |----------------| |
            | |main            | |
            | | |------------| | |
            | | |section     | | |
            | | |------------| | |
            | |----------------| |
            | |----------------| |
            | |footer          | |
            | |----------------| |

---------------------------------------------------*/

body{
    background-color: #e7f8e6;
    display: grid;
    align-items: center;
    justify-content:stretch;    
}

header{
    background-color: #0000ff;
    color: #ffffff;
}

nav{
    background-color: #666666;
    color: #ffffff;
}

main{
    background-color: #f4f4f4;
    color: #000000;
}

section{
    background-color: #e3e3e3;
    color: #000000;
}

footer{
    background-color: #262626;
    color: #ffffff;
}

/*---------------------------------------------------
                    Áreas de edição
---------------------------------------------------*/

.container{ 
    float:left; 
    width:100%;    
}

.content{  /*área de edição*/
    float:left;     
    width:100%; 
}

/*---------------------------------------------------
                    Header
---------------------------------------------------*/

.main_header{
    background-color: hsl(103, 74%, 14%);
    border-bottom:3px #000000 solid; 
    z-index:1; 
}
.main_header .content{ 
   font-family:'Poppins', sans-serif;
   font-size: 25px;   
   text-align: center;
   padding: 10px;
}

/*---------------------------------------------------
                    Nav
---------------------------------------------------*/

.main_nav{
    width: 100%;  
    float:left; 
    background-color: rgb(35, 32, 24);  
}

/* Menu */

.menu{
    list-style:none;
    border:1px solid #333; 
    float:left;   
    height: 40px;   
    background-color: rgb(35, 32, 24);  
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #333; 
    height: 38px;
    background-color: rgb(35, 32, 24);
}

.menu li a{
    color:#fff;
    text-decoration:none; 
    padding:10px 10px; 
    display:block;
    
}

.menu li a:hover{
    background:#fff; ;
    color:#333;
    text-shadow:0px 0px 5px #333;
    
}

.menu li  ul{
    position:relative;
    top:25px;
    left:0;
    background-color:#333;
    display:none;
    
}

.menu li:hover ul, 
.menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #333;
    display:block;
    width:150px;    
}

/*---------------------------------------------------
                    Footer
---------------------------------------------------*/
.main_footer{ 
    background-color:#353535; 
    color:#fff; 
    font-size:0.875em; 
    position: relative;
    bottom: 0;
}
.main_footer .content { 
    padding:0em 0em; 
}

.main_footer_copy{ 
    background-color:#262626; 
    width:100%; 
    float:left; 
    text-align:center; 
    padding:1.5em 0em; 
}

.main_footer_copy p{ 
    font-family:'open_sanslight'; 
    font-size:1em; 
    color:#e1e0e0; 
    height:18.5px; }

.main_footer_copy .m-b-footer{ 
    margin-bottom:0.5em; 
}

.main_footer_copy .by { 
    font-size:0.96em; 
}

.main_footer_copy .by i { 
    font-size:0.96em; 
    margin-right:3px; 
    color:#e82626; 
}

