/*---------------------------------------------------
                    Principal
---------------------------------------------------*/
.section-main{ 
    background-color:#e7f8e6;     
    width:50%; 
}

.section-main .content {
    width: 100%;    
    padding:1%;    
    float:left; 
}

.section-table{ 
    background-color:#e7f8e6; 
    width:50%; 
}

.section-table .content {
    width: 100%;    
    padding:1%;    
    float:left; 
}

/*---------------------------------------------------
                    Componenes
---------------------------------------------------*/

.form_input{    
    background: solid;   
    background-color: #fff;
    border-color: black;
    color: black;
}

/*---------------------------------------------------
                    Rodapé
---------------------------------------------------*/

.main_footer{ 
    position: fixed;
}
